.ace_editor {
  background-color: transparent !important;
}

.ace_gutter, .ace_gutter-active-line {
  background-color: transparent !important;
}

.app__pane--code, .app__pane--results {
  padding: 16px 16px 16px 0;
}

padding: 16px 16px 16px 0;
