.app {
  display: flex;
  background-color: #252932;
  color: rgb(147, 161, 161);
  width: 100vw;
  height: 100vh;
}

.app__pane-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.app__pane {
  box-sizing: border-box;
  flex-basis: 50%;
  max-height: 100%;
  overflow-y: auto;
  /*overflow: hidden;*/
  position: relative;
}

.app__pane__run-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 32px;
  color: #444f66;
  cursor: pointer;
}

.app__pane-divider {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 1px;
  min-height: 1px;
  background-color: #2f393d;
}

@media (max-width: 1024px) {
  .app__pane-container {
    flex-direction: column;
  }
}
